<title>
    {% block title %}{{ site.title }} - {{ page.title }}
    {% endblock title %}
</title>

<link href="/style.css" type="text/css" rel="stylesheet">

{% include 'partials/icons.html.twig' %}
{% include 'partials/metadata.html.twig' %}
