{% for socialnetwork in site.data.social %}
    <li class="social-item">
        <a href="{{ socialnetwork.url }}" class="social-link">
            <span class="sr-only">{{ socialnetwork.title }}</span>
            {{ source( socialnetwork.icon ) }}
        </a>
    </li>
{% endfor %}
