<div class="logo">
    <a class="logo-link" href="/">
        <div class="logo-inner">
            <span class="logo-firstname">{{site.firstname}}</span>
            <span class="logo-surname">{{site.surname}}</span>
            <span class="logo-dot">.</span>
        </div>

        <div class="logo-slogan">{{site.baseline}}</div>
    </a>
</div>
