<style>
    #loader{opacity:0;height:0;width:100%;display:flex;pointer-events:none;background-color:#fc0;position:fixed;z-index:9999;top:0;left:0;right:0;bottom:0;transition:opacity 0.5s ease-in-out,height 0s ease-in-out 0.5s;justify-content:center;align-items:center}
    #loader.loading{opacity:1;height:100vh}
    #loader .lds-dual-ring{display:inline-block;width:4rem;height:4rem}
    #loader .lds-dual-ring::after{content:' ';display:block;width:3rem;height:3rem;margin:auto;border-radius:50%;border:0.25rem solid #fff;border-color:#fff transparent #fff transparent;animation:lds-dual-ring 1.2s linear infinite}
    @keyframes lds-dual-ring{
        0%{transform:rotate(0)}
        100%{transform:rotate(360deg)}
    }
    .no-js #loader{display:none}
</style>

<div id="loader" class="loading">
    <div class="lds-dual-ring"></div>
</div>
