<footer class="mainfoot">
    <nav class="social">
        <ul class="social-items">
            {% include 'partials/site-social.html.twig' %}
        </ul>
    </nav>
    <p class="copyright">
        <span class="copyright-name">{{site.author.name}}</span>
        <span class="copyright-divider">|</span>
        <span class="copyright-year">{{ "now"|date("Y") }}</span>
    </p>
</footer>

<button class="dark-mode-toggle" id="dark-mode-toggle">
    <span class="sr-only">Dark Mode Toggle</span>
    <svg viewbox="0 0 496 496" width="100%" xmlns="http://www.w3.org/2000/svg">
        <path d="M8,256C8,393,119,504,256,504S504,393,504,256,393,8,256,8,8,119,8,256ZM256,440V72a184,184,0,0,1,0,368Z" fill="currentColor" transform="translate(-8 -8)"/>
    </svg>
</button>

<script src="/{{ minify('theme.js') }}"></script>
