{% include 'partials/site-loader.html.twig' %}

<header class="mainhead herohead" id="mainhead">
    <div class="content-wrapper">
        {% include 'partials/site-logo.html.twig' %}
        {% include 'partials/site-navigation.html.twig' %}
    </div>
</header>
