svg {
    overflow: hidden;

    vertical-align: middle;
}

figure {
    margin: 0 0 var(--normal);
}

img {
    vertical-align: middle;

    border-style: none;
}

img,
picture {
    max-width: 100%;
    margin: 0;
}
