/* Fira Go */

@font-face {
    font-weight: 100;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Thin"), local("FiraGo-Thin"),
        url("/fonts/fira-go-100-thin.woff2") format("woff2"),
        url("/fonts/fira-go-100-thin.woff") format("woff");
}

@font-face {
    font-weight: 100;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Thin Italic"), local("FiraGo-ThinItalic"),
        url("/fonts/fira-go-100-thin-italic.woff2") format("woff2"),
        url("/fonts/fira-go-100-thin-italic.woff") format("woff");
}

@font-face {
    font-weight: 200;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go ExtraLight"), local("FiraGo-ExtraLight"),
        url("/fonts/fira-go-200-extralight..woff2") format("woff2"),
        url("/fonts/fira-go-200-extralight.woff") format("woff");
}

@font-face {
    font-weight: 200;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go ExtraLight Italic"), local("FiraGo-ExtraLightItalic"),
        url("/fonts/fira-go-200-extralight-italic.woff2") format("woff2"),
        url("/fonts/fira-go-200-extralight-italic.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Light"), local("FiraGo-Light"),
        url("/fonts/fira-go-300-light.woff2") format("woff2"),
        url("/fonts/fira-go-300-light.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Light Italic"), local("FiraGo-LightItalic"),
        url("/fonts/fira-go-300-light-italic.woff2") format("woff2"),
        url("/fonts/fira-go-300-light-italic.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Regular"), local("FiraGo-Regular"),
        url("/fonts/fira-go-400-regular.woff2") format("woff2"),
        url("/fonts/fira-go-400-regular.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Regular Italic"), local("FiraGo-RegularItalic"),
        url("/fonts/fira-go-400-regular-italic.woff2") format("woff2"),
        url("/fonts/fira-go-400-regular-italic.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Medium"), local("FiraGo-Medium"),
        url("/fonts/fira-go-500-medium.woff2") format("woff2"),
        url("/fonts/fira-go-500-medium.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Medium Italic"), local("FiraGo-MediumItalic"),
        url("/fonts/fira-go-500-medium-italic.woff2") format("woff2"),
        url("/fonts/fira-go-500-medium-italic.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Semibold"), local("FiraGo-Semibold"),
        url("/fonts/fira-go-600-semibold.woff2") format("woff2"),
        url("/fonts/fira-go-600-semibold.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Semibold Italic"), local("FiraGo-SemiboldItalic"),
        url("/fonts/fira-go-600-semibold-italic.woff2") format("woff2"),
        url("/fonts/fira-go-600-semibold-italic.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Bold"), local("FiraGo-Bold"),
        url("/fonts/fira-go-700-bold.woff2") format("woff2"),
        url("/fonts/fira-go-700-bold.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Bold Italic"), local("FiraGo-BoldItalic"),
        url("/fonts/fira-go-700-bold-italic.woff2") format("woff2"),
        url("/fonts/fira-go-700-bold-italic.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Thin"), local("FiraGo-Thin"),
        url("/fonts/fira-go-800-extrabold.woff2") format("woff2"),
        url("/fonts/fira-go-800-extrabold.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Thin Italic"), local("FiraGo-ThinItalic"),
        url("/fonts/fira-go-800-extrabold-italic.woff2") format("woff2"),
        url("/fonts/fira-go-800-extrabold-italic.woff") format("woff");
}

@font-face {
    font-weight: 900;
    font-family: var(--font-base);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Heavy"), local("FiraGo-Heavy"),
        url("/fonts/fira-go-900-heavy.woff2") format("woff2"),
        url("/fonts/fira-go-900-heavy.woff") format("woff");
}

@font-face {
    font-weight: 900;
    font-family: var(--font-base);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Heavy Italic"), local("FiraGo-HeavyItalic"),
        url("/fonts/fira-go-900-heavy-italic.woff2") format("woff2"),
        url("/fonts/fira-go-900-heavy-italic.woff") format("woff");
}

/* Fira Sans Condensed */

@font-face {
    font-weight: 100;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Thin"), local("FiraSansCondensed-Thin"),
        url("/fonts/fira-sans-condensed-100-thin.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-100-thin.woff") format("woff");
}

@font-face {
    font-weight: 100;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Thin Italic"),
        local("FiraSansCondensed-ThinItalic"),
        url("/fonts/fira-sans-condensed-100-thin-italic.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-100-thin-italic.woff") format("woff");
}

@font-face {
    font-weight: 200;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed ExtraLight"),
        local("FiraSansCondensed-ExtraLight"),
        url("/fonts/fira-sans-condensed-200-extralight.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-200-extralight.woff") format("woff");
}

@font-face {
    font-weight: 200;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed ExtraLight Italic"),
        local("FiraSansCondensed-ExtraLightItalic"),
        url("/fonts/fira-sans-condensed-200-extralight-italic.woff2")
            format("woff2"),
        url("/fonts/fira-sans-condensed-200-extralight-italic.woff")
            format("woff");
}

@font-face {
    font-weight: 300;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Light"), local("FiraSansCondensed-Light"),
        url("/fonts/fira-sans-condensed-300-light.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-300-light.woff") format("woff");
}

@font-face {
    font-weight: 300;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Light Italic"),
        local("FiraSansCondensed-LightItalic"),
        url("/fonts/fira-sans-condensed-300-light-italic.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-300-light-italic.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Regular"),
        local("FiraSansCondensed-Regular"),
        url("/fonts/fira-sans-condensed-400-regular.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-400-regular.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Regular Italic"),
        local("FiraSansCondensed-RegularItalic"),
        url("/fonts/fira-sans-condensed-400-regular-italic.woff2")
            format("woff2"),
        url("/fonts/fira-sans-condensed-400-regular-italic.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Medium"), local("FiraSansCondensed-Medium"),
        url("/fonts/fira-sans-condensed-500-medium.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-500-medium.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Medium Italic"),
        local("FiraSansCondensed-MediumItalic"),
        url("/fonts/fira-sans-condensed-500-medium-italic.woff2")
            format("woff2"),
        url("/fonts/fira-sans-condensed-500-medium-italic.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed SemiBold"),
        local("FiraSansCondensed-SemiBold"),
        url("/fonts/fira-sans-condensed-600-semibold.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-600-semibold.woff") format("woff");
}

@font-face {
    font-weight: 600;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed SemiBold Italic"),
        local("FiraSansCondensed-SemiBoldItalic"),
        url("/fonts/fira-sans-condensed-600-semibold-italic.woff2")
            format("woff2"),
        url("/fonts/fira-sans-condensed-600-semibold-italic.woff")
            format("woff");
}

@font-face {
    font-weight: 700;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Bold"), local("FiraSansCondensed-Bold"),
        url("/fonts/fira-sans-condensed-700-bold.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-700-bold.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Bold Italic"),
        local("FiraSansCondensed-BoldItalic"),
        url("/fonts/fira-sans-condensed-700-bold-italic.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-700-bold-italic.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed ExtraBold"),
        local("FiraSansCondensed-ExtraBold"),
        url("/fonts/fira-sans-condensed-800-extrabold.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-800-extrabold.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed ExtraBold Italic"),
        local("FiraSansCondensed-ExtraBoldItalic"),
        url("/fonts/fira-sans-condensed-800-extrabold-italic.woff2")
            format("woff2"),
        url("/fonts/fira-sans-condensed-800-extrabold-italic.woff")
            format("woff");
}

@font-face {
    font-weight: 900;
    font-family: var(--font-head);
    font-style: normal;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Heavy"), local("FiraSansCondensed-Heavy"),
        url("/fonts/fira-sans-condensed-900-heavy.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-900-heavy.woff") format("woff");
}

@font-face {
    font-weight: 900;
    font-family: var(--font-head);
    font-style: italic;
    font-stretch: condensed;
    src: local("Fira Sans Condensed Heavy Italic"),
        local("FiraSansCondensed-HeavyItalic"),
        url("/fonts/fira-sans-condensed-900-heavy-italic.woff2") format("woff2"),
        url("/fonts/fira-sans-condensed-900-heavy-italic.woff") format("woff");
}

/* JetBrains Mono */

@font-face {
    font-weight: 400;
    font-family: var(--font-mono);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Thin"), local("FiraGo-Thin"),
        url("/fonts/jetbrains-mono-400-regular.woff2") format("woff2"),
        url("/fonts/jetbrains-mono-400-regular.woff") format("woff");
}

@font-face {
    font-weight: 400;
    font-family: var(--font-mono);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Thin Italic"), local("FiraGo-ThinItalic"),
        url("/fonts/jetbrains-mono-400-regular-italic.woff2") format("woff2"),
        url("/fonts/jetbrains-mono-400-regular-italic.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: var(--font-mono);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Thin"), local("FiraGo-Thin"),
        url("/fonts/jetbrains-mono-500-medium.woff2") format("woff2"),
        url("/fonts/jetbrains-mono-500-medium.woff") format("woff");
}

@font-face {
    font-weight: 500;
    font-family: var(--font-mono);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Thin Italic"), local("FiraGo-ThinItalic"),
        url("/fonts/jetbrains-mono-500-medium-italic.woff2") format("woff2"),
        url("/fonts/jetbrains-mono-500-medium-italic.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: var(--font-mono);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Thin"), local("FiraGo-Thin"),
        url("/fonts/jetbrains-mono-700-bold.woff2") format("woff2"),
        url("/fonts/jetbrains-mono-700-bold.woff") format("woff");
}

@font-face {
    font-weight: 700;
    font-family: var(--font-mono);
    font-style: italic;
    font-stretch: normal;
    src: local("Fira Go Thin Italic"), local("FiraGo-ThinItalic"),
        url("/fonts/jetbrains-mono-700-bold-italic.woff2") format("woff2"),
        url("/fonts/jetbrains-mono-700-bold-italic.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: var(--font-mono);
    font-style: normal;
    font-stretch: normal;
    src: local("Fira Go Thin"), local("FiraGo-Thin"),
        url("/fonts/jetbrains-mono-800-extrabold.woff2") format("woff2"),
        url("/fonts/jetbrains-mono-800-extrabold.woff") format("woff");
}

@font-face {
    font-weight: 800;
    font-family: var(--font-mono);
    font-style: italic;
    font-stretch: normal;
    src: local("JetBrains Mono Thin Italic"), local("FiraGo-ThinItalic"),
        url("/fonts/jetbrains-mono-800-extrabold-italic.woff2") format("woff2"),
        url("/fonts/jetbrains-mono-800-extrabold-italic.woff") format("woff");
}
