@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

@media (--MediaSmallWidth) {
    :root {
        font-size: var(--SmallRoot);
    }
}

@media (--MediaMediumWidth) {
    :root {
        font-size: var(--MediumRoot);
    }
}

@media (--MediaLargeWidth) {
    :root {
        font-size: var(--LargeRoot);
    }
}

@media (--MediaExtraLargeWidth) {
    :root {
        font-size: var(--ExtraLargeRoot);
    }
}

@media (--MediaHugeWidth) {
    :root {
        font-size: var(--HugeRoot);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-stack-head);
    font-stretch: condensed;
}

h1 {
    margin: 0 0 var(--large) 0;

    font-weight: var(--font-weight-h1);
    font-size: var(--font-size-h1);
    line-height: calc(var(--font-size-h1) * 1.5);
}

h2 {
    margin: 0 0 var(--large) 0;

    font-weight: var(--font-weight-h2);
    font-size: var(--font-size-h2);
    line-height: calc(var(--font-size-h2) * 1.25);
}

h3 {
    margin: 0 0 var(--normal) 0;

    font-weight: var(--font-weight-h3);
    font-size: var(--font-size-h3);
    line-height: calc(var(--font-size-h3) * 1.25);
}

h4 {
    margin: 0 0 var(--normal) 0;

    font-weight: var(--font-weight-h4);
    font-size: var(--font-size-h4);
    line-height: calc(var(--font-size-h4) * 1.25);
}

h5 {
    margin: 0 0 var(--small) 0;

    font-weight: var(--font-weight-h5);
    font-size: var(--font-size-h5);
    line-height: calc(var(--font-size-h5) * 1.25);
}

h6 {
    margin: 0 0 var(--small) 0;

    font-weight: var(--font-weight-h);
    font-size: var(--font-size-h6);
    line-height: calc(var(--font-size-h6) * 1.25);
}

p {
    margin: 0 0 var(--small) 0;
    margin-top: 0;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;

    border-bottom: none;
    cursor: help;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: var(--normal);

    font-style: normal;
    line-height: inherit;
}

blockquote {
    margin: var(--normal) var(--normal) var(--normal) var(--xlarge);
    padding: var(--small) var(--xsmall) var(--small) var(--normal);

    border-left: var(--xsmall) solid var(--overlay-bg);
    box-shadow: 0 0 var(--xxsmall) var(--overlay-bg);

    &::before {
        display: block;
        height: 0;
        margin-left: calc(var(--negative-xxlarge) - var(--normal));

        color: var(--overlay-bg);
        font-size: var(--huge);
        font-family: var(--font-stack-quote);

        content: "“";
    }

    & :last-child {
        margin-bottom: 0;
    }
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: var(--small);
}

sub,
sup {
    position: relative;

    font-size: var(--small);
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: var(--negative-small);
}

sup {
    top: var(--negative-xsmall);
}

a {
    color: var(--link-color);
    text-decoration: none;

    background-color: transparent;

    transition: color var(--duration) var(--timing);
    text-decoration-skip-ink: auto;

    &:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }

    &:focus {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }

    &:not([href]) {
        color: inherit;
        text-decoration: none;

        &:hover {
            color: inherit;
            text-decoration: none;
        }
    }

    & > svg {
        color: inherit;

        fill: currentColor;
    }
}

pre,
code,
kbd,
samp {
    font-size: var(--normal);
    font-family: var(--font-stack-mono);
}

pre {
    margin-top: 0;
    margin-bottom: var(--normal);
    overflow: auto;
}
