input,
select,
optgroup,
textarea {
    margin: 0;

    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
}

input {
    overflow: visible;
}

select {
    width: 100%;
    margin-bottom: var(--spacing--small);

    text-transform: none;
    word-wrap: normal;
}

label {
    display: inline-block;
    margin-bottom: var(--xsmall);

    font-weight: var(--font-bold-weight);
}

textarea {
    overflow: auto;

    resize: vertical;
}

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;

    background-color: transparent;
    border: 0;
}

input,
select,
textarea {
    display: block;

    font-size: var(--normal);
    font-family: var(--font-stack-base);
}

input[type="radio"],
input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    appearance: listbox;
}

[type="search"] {
    outline-offset: var(--negative-tiny);

    appearance: textfield;
}

[type="color"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
input:not([type]),
textarea {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: var(--xsmall);
    padding: var(--xxsmall);

    background-color: transparent;
    border: var(--border);
    border-radius: var(--border-radius);
    box-shadow: var(--form-box-shadow);

    transition: border-color var(--duration) var(--timing);

    appearance: none;

    &::-webkit-search-decoration {
        appearance: none;
    }

    &::-webkit-inner-spin-button {
        height: auto;
    }

    &::-webkit-outer-spin-button {
        height: auto;
    }

    &:focus {
        box-shadow: var(--form-box-shadow-focus);
    }

    &:disabled {
        cursor: not-allowed;

        &:hover {
            border: var(--border);
        }
    }

    &::placeholder {
        color: var(--text-color);

        opacity: 0.25;
    }
}

input[type="file"] {
    width: 100%;
    margin-bottom: var(--spacing--small);

    &::-webkit-file-upload-button {
        font: inherit;

        appearance: button;
    }
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: var(--spacing--small);
}

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
}

legend {
    display: block;
    width: 100%;
    max-width: 100%;
    margin-bottom: var(--xsmall);
    padding: 0;

    color: inherit;
    font-weight: 600;
    font-size: var(--xlarge);
    line-height: inherit;
    white-space: normal;
}
