table {
    width: 100%;
    margin: var(--xsmall) 0;

    text-align: left;

    table-layout: fixed;
    border-collapse: collapse;
}

thead {
    line-height: var(--normal);
    vertical-align: bottom;
}

tbody {
    vertical-align: top;
}

tr {
    border-bottom: var(--border);
}

th,
td {
    padding: var(--xsmall) var(--xsmall) var(--xsmall) var(--xxsmall);
}

th {
    font-weight: var(--font-bold-weight);
    text-align: inherit;
}

caption {
    padding-top: var(--small);
    padding-bottom: var(--small);

    color: var(--gray);
    text-align: left;

    caption-side: bottom;
}
