@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

.is-home {
    & #content {
        padding-top: var(--normal);
    }

    & .herohead {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;

        width: 100%;
        max-width: 100%;
        padding-right: var(--normal);
        padding-left: var(--normal);

        background-color: var(--brand-secondary-25);

        box-shadow: 0 var(--normal) var(--xxlarge) var(--overlay-bg);

        @media (--LargeWidth) {
            padding-right: var(--xxlarge);
            padding-left: var(--xxlarge);
        }

        @media (--HugeWidth) {
            padding-right: var(--xxlarge);
            padding-left: var(--xxlarge);
        }

        & .content-wrapper {
            max-width: var(--mediamax);
            height: calc(var(--xxlarge) + var(--xxlarge));
            margin: 0 auto;

            background-color: var(--brand-secondary-25);
            border-top-left-radius: var(--normal);
            border-top-right-radius: var(--normal);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            box-shadow: none;

            @media (--MediaLargeWidth) {
                width: calc(100% - var(--xxlarge));
            }
        }

        & .mainnav-toggle {
            width: calc(var(--huge) + var(--normal));
            padding-right: 0;

            border-top-right-radius: var(--normal);
            border-bottom-right-radius: 0;
        }

        & .logo-link {
            padding-left: var(--normal);

            border-top-left-radius: var(--normal);
            border-bottom-left-radius: 0;

            @media (--LargeWidth) {
                padding-left: var(--normal);
            }
        }
    }

    & article {
        position: relative;
    }

    & .hero {
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: var(--mediamax);
        min-height: calc(100vh - var(--xxlarge));
        margin-right: auto;
        margin-left: auto;
        padding: calc(2 * var(--xxhuge)) var(--xxlarge);
        overflow: hidden;

        background: linear-gradient(
                180deg,
                var(--brand-secondary-25) 0%,
                var(--brand-secondary-50) 100%
            ),
            var(--brand-primary);
        background-size: cover;
        border-radius: var(--normal);
        box-shadow: 0 var(--normal) var(--xxlarge) var(--overlay-bg);

        @media (--MediaLargeWidth) {
            min-height: calc(100vh - var(--large) - var(--large));
        }

        & noscript {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;

            object-fit: cover;
        }

        & .banner {
            position: absolute;

            min-width: 100%;
            min-height: 100%;
            object-fit: cover;

            mix-blend-mode: overlay;
        }

        & h1 {
            z-index: 1;

            margin: 0;
            padding: calc(2 * var(--xxlarge) + var(--huge)) var(--normal)
                var(--huge) var(--normal);

            color: var(--body-bg);
            font-weight: 400;
            font-size: var(--xlarge);
            line-height: 1.5;
            text-align: center;
            text-shadow: 0 var(--xxsmall) var(--xxsmall) rgba(24, 24, 24, 0.8);

            & strong {
                display: block;
                margin-bottom: var(--normal);
            }

            & > span {
                display: block;
                max-width: 24rem;
            }

            & mark {
                display: inline-block;
                margin: var(--normal) auto 0 auto;
                padding: var(--small);

                color: var(--brand-secondary);
                font-size: var(--normal);
                text-shadow: none;

                background-color: var(--brand-primary);
            }
        }
    }

    & .intro,
    & .projects,
    & .blog {
        display: grid;
        width: 100%;
        max-width: 100%;
        margin-bottom: var(--xlarge);
        padding-top: var(--xlarge);
        padding-bottom: var(--xlarge);

        & aside {
            overflow: hidden;

            background: linear-gradient(
                180deg,
                var(--brand-primary-75) 0%,
                var(--brand-primary-50) 100%
            );
            border-radius: var(--normal);
            box-shadow: 0 var(--xxsmall) var(--normal) var(--overlay-bg);

            & a {
                position: absolute;
                top: var(--xlarge);
                bottom: var(--xlarge);
                z-index: 1;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 72vw;
                margin: 0;
                padding: var(--normal);

                color: var(--brand-primary-light);
                font-weight: bold;
                font-size: var(--xxlarge);
                font-family: var(--font-stack-head);
                text-decoration: none;
                text-shadow: 0 0 5px black;

                cursor: default;

                &:hover,
                &:active,
                &:focus {
                    color: var(--brand-primary-dark);

                    outline: 0;
                    cursor: default;
                }

                @media (--MediaExtraLargeWidth) {
                    width: 58.3333333333%;
                    height: calc(100% - var(--huge));
                }
            }

            & img {
                min-width: 100%;
                min-height: 100%;
                object-fit: cover;

                opacity: 0.5;
                mix-blend-mode: multiply;
            }
        }

        & ul {
            z-index: 1;

            margin-bottom: 0;
            padding: 0;

            list-style: none;

            & li {
                margin-bottom: var(--normal);
                padding-left: 0;

                color: var(--brand-secondary);
                font-size: var(--xlarge);
                font-family: var(--font-stack-head);
                text-align: center;

                background-color: var(--brand-primary-dark);
                background-image: var(--brand-primary-gradient-ver);
                border-radius: var(--normal);
                box-shadow: 0 var(--xsmall) var(--normal)
                    var(--lighter-overlay-bg);

                transition: transform 0.5s ease-in-out;

                & a {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    padding: var(--xxlarge);

                    color: inherit;
                    text-decoration: none;

                    border-radius: var(--normal);

                    transition: background-color 0.5s ease-in-out,
                        box-shadow 0.5s ease-in-out;
                }

                & strong {
                    display: block;
                }

                & em {
                    display: block;

                    font-weight: lighter;
                    font-style: normal;
                }

                &:hover {
                    transform: scale(1.05);

                    & a {
                        background-color: var(--brand-primary-dark);
                    }
                }
            }
        }
    }

    & .intro {
        grid-template-rows: 2fr 4rem auto;
        grid-template-columns: var(--normal) 1fr var(--normal);

        @media (--MediaMediumWidth) {
            grid-template-columns: var(--xxlarge) 1fr var(--xxlarge);
        }

        @media (--MediaLargeWidth) {
            grid-template-columns: 4rem 1fr 4rem;
            padding-top: var(--huge);
        }

        @media (--MediaExtraLargeWidth) {
            grid-template-rows: 4rem 1fr 4rem;
            grid-template-columns: 5fr 2fr 5fr;
        }

        & > aside {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 4;

            @media (--MediaExtraLargeWidth) {
                grid-row-start: 1;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        & > div {
            z-index: 1;

            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;
            padding: var(--normal);

            color: var(--brand-secondary);
            font-size: var(--normal);

            background-color: var(--brand-primary-dark);
            border-radius: var(--normal);
            box-shadow: 0 var(--xsmall) var(--normal) var(--overlay-bg);

            @media (--MediaMediumWidth) {
                padding: var(--xxlarge);
            }

            @media (--MediaExtraLargeWidth) {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 4;
            }

            & h2 {
                font-size: var(--large);
                line-height: var(--xlarge);
            }

            & p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    & .clients {
        padding: var(--xxlarge) 5rem;

        background-color: var(--brand-primary-dark);
        border-radius: var(--normal);
        box-shadow: 0 var(--xsmall) var(--normal) var(--overlay-bg);

        & .clients-slider {
            position: relative;

            margin: 0 auto;
            padding-bottom: var(--normal);
            overflow-y: hidden;

            transform: translateZ(0);
            -ms-overflow-style: none;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;

            &.draggable {
                cursor: grab;

                user-select: none;

                & .glider-slide {
                    & img {
                        user-select: none;
                        pointer-events: none;
                    }
                }
            }

            &.drag {
                cursor: grabbing;
            }

            & .glider-link {
                display: block;
                width: 100%;
                height: 100%;
            }

            & .glider-contain {
                position: relative;

                width: 100%;
                min-width: 100%;
                margin: 0 auto;
                margin-bottom: var(--xxlarge);
            }

            &::-webkit-scrollbar {
                height: 0;

                opacity: 0;

                @media (--MediaMediumWidth) {
                    width: var(--xsmall);
                    height: var(--xxsmall);

                    opacity: 1;

                    -webkit-appearance: none;
                }
            }

            &::-webkit-scrollbar-thumb {
                opacity: 0;

                @media (--MediaMediumWidth) {
                    background-color: var(--brand-secondary);
                    border-radius: 99px;
                    box-shadow: 0 0 var(--tiny) var(--brand-secondary);
                    opacity: 1;
                }
            }

            & .glider-track {
                z-index: 1;

                display: flex;
                width: 100%;
                min-width: 100%;
                margin: 0;
                padding: 0;

                transform: translateZ(0);
            }

            & .glider-slide {
                align-content: center;
                justify-content: center;
                width: 100%;
                min-width: 5rem;
                max-height: 10rem;

                user-select: none;

                & img {
                    width: 100%;
                    max-width: 100%;
                    height: 100%;
                    max-height: none;
                    object-fit: contain;
                    overflow: hidden;
                }
            }

            & .glider-hide {
                opacity: 0;
            }

            & .slide {
                min-height: 6.5rem;
                margin: var(--small);
                padding: var(--normal);

                background-color: var(--brand-primary-light);
                border-radius: var(--normal);
            }
        }

        & .glider-prev,
        & .glider-next {
            position: absolute;
            top: calc(50% - var(--xlarge));
            left: var(--xlarge);
            z-index: 1;

            display: flex;
            align-items: center;
            width: var(--huge);
            height: var(--huge);
            margin: var(--normal);
            padding: 0;

            color: var(--brand-secondary);
            font-size: 100%;
            line-height: 100%;
            text-decoration: none;

            background: none;
            background-color: transparent;
            border: 0;
            outline: none;
            cursor: pointer;
            opacity: 1;

            transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67),
                color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);

            user-select: none;

            &:hover,
            &:active,
            &:focus {
                color: var(--brand-secondary);

                background-color: inherit;
                outline: none;
                opacity: 0.5;
            }

            &.disabled {
                color: var(--brand-primary-light);

                cursor: default;
                opacity: 0.5;

                &:hover,
                &:active,
                &:focus {
                    color: inherit;
                }
            }

            & svg {
                width: 100%;
                height: 100%;

                fill: currentColor;
            }
        }

        & .glider-prev {
            right: auto;
            left: 0;
        }

        & .glider-next {
            right: 0;
            left: auto;
        }

        & .glider-dots {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: 0 auto;
            padding: 0;

            user-select: none;
        }

        & .glider-dot {
            display: block;
            width: var(--small);
            height: var(--small);
            margin: var(--xsmall);
            padding: 0;

            color: var(--brand-primary-light);

            background: var(--brand-primary-light);
            border: 0;
            border-radius: 100%;
            outline: none;
            cursor: pointer;

            user-select: none;

            &:hover,
            &:focus,
            &.active {
                background: var(--brand-secondary);
            }
        }
    }

    & .projects {
        grid-template-rows: 2fr 4rem auto;
        grid-template-columns: var(--normal) 1fr var(--normal);

        @media (--MediaMediumWidth) {
            grid-template-columns: var(--xxlarge) 1fr var(--xxlarge);
        }

        @media (--MediaLargeWidth) {
            grid-template-columns: 4rem 1fr 4rem;
        }

        @media (--MediaExtraLargeWidth) {
            grid-template-rows: 4rem 1fr 4rem;
            grid-template-columns: 5fr 2fr 5fr;
        }

        & > aside {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 4;

            @media (--MediaExtraLargeWidth) {
                grid-row-start: 1;
                grid-row-end: 4;
                grid-column-start: 2;
                grid-column-end: 4;
            }

            & a {
                @media (--MediaExtraLargeWidth) {
                    left: 41.6666666667%;
                }
            }
        }

        & > ul {
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;

            @media (--MediaExtraLargeWidth) {
                z-index: 1;

                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }
    }

    & .blog {
        grid-template-rows: 2fr 4rem auto;
        grid-template-columns: var(--normal) 1fr var(--normal);

        @media (--MediaMediumWidth) {
            grid-template-columns: var(--xxlarge) 1fr var(--xxlarge);
        }

        @media (--MediaLargeWidth) {
            grid-template-columns: 4rem 1fr 4rem;
        }

        @media (--MediaExtraLargeWidth) {
            grid-template-rows: 4rem 1fr 4rem;
            grid-template-columns: 5fr 2fr 5fr;
        }

        & > aside {
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 4;

            @media (--MediaExtraLargeWidth) {
                grid-row-start: 1;
                grid-row-end: 4;
                grid-column-start: 1;
                grid-column-end: 3;
            }
        }

        & > ul {
            grid-row-start: 2;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;

            @media (--MediaExtraLargeWidth) {
                grid-row-start: 2;
                grid-row-end: 3;
                grid-column-start: 2;
                grid-column-end: 4;
            }
        }
    }
}
