.cv {
    display: flex;
    flex-direction: column;

    list-style: none;

    & .cv-item {
        position: relative;

        display: flex;
        flex-direction: column;
        padding-top: var(--normal);
        padding-bottom: var(--normal);
        padding-left: calc(var(--normal) + var(--small));

        border-bottom: var(--tiny) solid var(--border-color);
        border-left: var(--tiny) solid #8c8c8c;

        &:last-of-type {
            position: relative;

            border-bottom: none;

            &::after {
                position: absolute;
                left: var(--negative-normal);

                display: block;
                width: var(--xxlarge);
                height: 100%;

                background-image: linear-gradient(
                    180deg,
                    rgba(255, 255, 255, 0),
                    rgba(255, 255, 255, 1)
                );

                content: "";

                @media screen and (min-width: 768px) {
                    left: calc(25% - var(--normal));
                }
            }
        }

        &:first-of-type {
            padding-top: 0;
        }

        aside {
            display: block;

            @include MediaLarge {
                width: 38.3%;
                min-width: calc(6 * var(--normal));
            }

            &::after {
                position: absolute;
                top: 0;
                right: var(--tiny);
                left: var(--xxsmall);

                display: block;
                width: 3px;
                height: 100%;

                background-color: var(--border-color);

                content: "";
            }

            .where {
                .agency {
                    display: block;

                    font-weight: var(--font-bold-weight);
                }

                .city {
                    display: block;

                    font-style: italic;
                }
            }
        }

        > ul {
            position: relative;

            &::before {
                position: absolute;
                top: 0.4rem;
                left: -1.85rem;
                z-index: 1;

                display: block;
                width: calc(var(--normal) - var(--xsmall));
                height: calc(var(--normal) - var(--xsmall));

                background-color: #c2970a;
                border: 4px solid white;
                border-radius: 100%;
                box-shadow: 0 0 0 3px var(--border-color);

                content: "";
            }
        }

        .title {
            h2 {
                font-size: calc(var(--normal) + var(--xsmall));
            }
        }

        .what {
            .whatheadline {
                font-weight: var(--font-bold-weight);
            }

            .whatitem {
                margin-left: var(--normal);

                list-style-position: outside;
                list-style-type: disc;

                ul {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@include MediaMedium {
    .cv {
        .cv-item {
            position: static;

            flex-direction: row;
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;

            border-left: none;

            > ul {
                width: calc((100% / 3) * 2);
                padding-top: var(--normal);
                padding-bottom: var(--normal);

                &::before {
                    content: none;
                }
            }

            aside {
                position: relative;

                width: 25%;
                margin-right: $large;
                padding-top: var(--normal);
                padding-right: $large;
                padding-bottom: var(--normal);

                &::after {
                    position: absolute;
                    top: 0;
                    right: var(--tiny);
                    left: auto;

                    display: block;
                    width: 3px;
                    height: 100%;

                    background-color: var(--border-color);

                    content: "";
                }

                &::before {
                    position: absolute;
                    top: 1.35rem;
                    right: var(--xsmall);
                    z-index: 1;

                    display: block;
                    width: calc(var(--normal) - var(--xsmall));
                    height: calc(var(--normal) - var(--xsmall));

                    background-color: #c2970a;
                    border: 4px solid white;
                    border-radius: 100%;
                    box-shadow: 0 0 0 3px var(--border-color);

                    content: "";
                }

                .where {
                    .agency {
                        font-weight: var(--font-bold-weight);
                    }

                    .city {
                        font-style: italic;
                    }
                }
            }

            &:first-of-type {
                aside {
                    &::after {
                        top: calc(var(--normal) + var(--small) + var(--xsmall));
                    }
                }
            }
        }
    }
}

@include MediaLarge {
    .cv {
        .cv-item {
            aside {
                width: 38.3%;
                min-width: 6 * var(--normal);
            }
        }
    }
}
