.selbsteinschaetzung {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & header {
        width: 100%;
    }

    & div {
        display: flex;
        flex-direction: column;
        width: 100%;

        @media screen and (min-width: 1024px) {
            width: calc((100% / 2) - (var(--xxlarge) / 2));
        }

        & ul {
            padding-left: 0;

            & li {
                display: flex;
                justify-content: space-between;
                padding-left: 0;

                & span {
                    hyphens: auto;

                    @media screen and (min-width: 1024px) {
                        width: calc(100% - 6rem);
                    }
                }

                & progress[value] {
                    position: relative;

                    width: 5rem;
                    height: var(--normal);

                    background-color: transparent;
                    background-image: radial-gradient(
                        circle,
                        rgba(0, 0, 0, 0.25) 30%,
                        rgba(0, 0, 0, 0) 30%
                    );
                    background-repeat: repeat-x;
                    background-position: left center;
                    background-size: var(--normal);
                    border: 0;

                    appearance: none;

                    &::-webkit-progress-bar {
                        background-color: transparent;
                        background-image: radial-gradient(
                            circle,
                            rgba(0, 0, 0, 0.25) 30%,
                            rgba(0, 0, 0, 0) 30%
                        );
                        background-repeat: repeat-x;
                        background-position: left center;
                        background-size: var(--normal);
                    }

                    &::-ms-fill {
                        background: radial-gradient(
                            circle,
                            rgba(0, 0, 0, 1) 30%,
                            rgba(0, 0, 0, 0) 30%
                        );
                        background-color: transparent;
                        background-repeat: repeat-x;
                        background-position: left center;
                        background-size: var(--normal);
                        border: 0;
                    }

                    &::-webkit-progress-value {
                        background: radial-gradient(
                            circle,
                            rgba(0, 0, 0, 1) 30%,
                            rgba(0, 0, 0, 0) 30%
                        );
                        background-color: transparent;
                        background-repeat: repeat-x;
                        background-position: left center;
                        background-size: var(--normal);
                    }

                    &::-moz-progress-bar {
                        background: radial-gradient(
                            circle,
                            rgba(0, 0, 0, 1) 30%,
                            rgba(0, 0, 0, 0) 30%
                        );
                        background-color: transparent;
                        background-repeat: repeat-x;
                        background-position: left center;
                        background-size: var(--normal);
                    }
                }
            }
        }
    }
}

.kompetenzen {
    /* test */
}
