.masonry {
    display: grid;
    grid-auto-rows: minmax(2rem, auto);
    grid-gap: var(--normal);
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));

    &-item {
        display: block;
        flex-direction: column;
        padding: var(--normal);

        text-decoration: none;

        border: var(--tiny) solid rgba(0, 0, 0, 0.25);
        border-radius: var(--xxsmall);
        box-shadow: 0 var(--xxsmall) var(--xxsmall) rgba(0, 0, 0, 0.5);

        &--title {
            padding-bottom: var(--xsmall);

            font-size: var(--normal);

            border-bottom: var(--tiny) solid rgba(0, 0, 0, 0.25);
        }

        &--image {
            position: relative;

            display: block;
            height: 0;
            margin-bottom: var(--normal);
            padding-top: 100%;

            img {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;

                min-width: 100%;
                min-height: 100%;
                object-fit: cover;
            }
        }

        &--content {
            display: block;

            :last-child {
                margin-bottom: 0;
            }
        }
    }
}
