:root {
    /* folders */
    --font-directory: "/static/fonts/";
    --image-directory: "/static/images/";

    /* :root sizes */

    --ExtraSmallRoot: 13px;
    --SmallRoot: 16px;
    --MediumRoot: 19px;
    --LargeRoot: 22px;
    --ExtraLargeRoot: 25px;
    --HugeRoot: 28px;

    /* sizing */
    --tiny: 1px;
    --xxsmall: 0.25rem;
    --xsmall: 0.5rem;
    --small: 0.75rem;
    --normal: 1rem;
    --large: 1.25rem;
    --xlarge: 1.5rem;
    --xxlarge: 2rem;
    --huge: 3rem;

    /* min-max media */
    --mediamin: 320px;
    --mediamax: 1680px;

    /* negative sizing */
    --negative-tiny: -1px;
    --negative-xxsmall: -0.25rem;
    --negative-xsmall: -0.5rem;
    --negative-small: -0.75rem;
    --negative-normal: -1rem;
    --negative-large: -1.25rem;
    --negative-xlarge: -1.5rem;
    --negative-xxlarge: -2rem;
    --negative-huge: -3rem;

    /* solarized color pallete */
    --solarized-base04: hsl(195, 100%, 8%); /* custom darker color */
    --solarized-base03: hsl(192, 100%, 11%);
    --solarized-base03-75: hsla(192, 100%, 11%, 0.75);
    --solarized-base03-50: hsla(192, 81%, 14%, 0.5);
    --solarized-base03-25: hsla(192, 81%, 14%, 0.25);
    --solarized-base02: hsl(192, 81%, 14%);
    --solarized-base01: hsl(194, 14%, 40%);
    --solarized-base00: hsl(196, 13%, 45%);
    --solarized-base0: hsl(186, 8%, 55%);
    --solarized-base1: hsl(180, 7%, 60%);
    --solarized-base2: hsl(46, 42%, 88%);
    --solarized-base3: hsl(44, 87%, 94%);
    --solarized-base3-75: hsla(44, 87%, 94%, 0.75);
    --solarized-base3-50: hsla(44, 87%, 94%, 0.5);
    --solarized-base3-25: hsla(44, 87%, 94%, 0.25);
    --solarized-base4: hsl(42, 100%, 97%); /* custom lighter color */
    --solarized-yellow: hsl(45, 100%, 35%);
    --solarized-orange: hsl(18, 80%, 44%);
    --solarized-red: hsl(360, 99%, 42%);
    --solarized-magenta: hsl(331, 64%, 52%);
    --solarized-violet: hsl(237, 43%, 60%);
    --solarized-blue: hsl(205, 69%, 49%);
    --solarized-cyan: hsl(175, 59%, 40%);
    --solarized-green: hsl(68, 100%, 30%);

    /* primary color definitions */
    --brand-primary: var(--solarized-base3);
    --brand-primary-light: var(--solarized-base4);
    --brand-primary-dark: var(--solarized-base2);
    --brand-primary-25: var(--solarized-base3-25);
    --brand-primary-50: var(--solarized-base3-50);
    --brand-primary-75: var(--solarized-base3-75);
    --brand-primary-gradient-hor: linear-gradient(
        90deg,
        var(--brand-primary-dark),
        var(--brand-primary-light)
    );
    --brand-primary-gradient-ver: linear-gradient(
        0deg,
        var(--brand-primary-dark),
        var(--brand-primary-light)
    );

    /* secondary color definitions */
    --brand-secondary: var(--solarized-base03);
    --brand-secondary-light: var(--solarized-base02);
    --brand-secondary-dark: var(--solarized-base04);
    --brand-secondary-25: var(--solarized-base03-25);
    --brand-secondary-50: var(--solarized-base03-50);
    --brand-secondary-75: var(--solarized-base03-75);
    --brand-secondary-gradient-ver: linear-gradient(
        90deg,
        var(--brand-secondary-light),
        var(--brand-secondary)
    );
    --brand-secondary-gradient-hor: linear-gradient(
        0deg,
        var(--brand-secondary-light),
        var(--brand-secondary)
    );

    /* b/w color definitions */
    --white: hsl(0, 0%, 100%);
    --gray-extra-light: hsl(0, 0%, 95%);
    --gray-light: hsl(0, 0%, 85%);
    --gray: hsl(0, 0%, 75%);
    --gray-dark: hsl(0, 0%, 45%);
    --gray-extra-dark: hsl(0, 0%, 15%);
    --black: hsl(0, 0%, 0%);

    /* highlight color definitions */
    --highlight-success: hsl(150, 70%, 50%);
    --highlight-error: hsl(0, 80%, 60%);
    --highlight-notice: hsl(55, 100%, 50%);
    --highlight-info: hsl(200, 80%, 60%);
    --highlight-success-bg: hsl(150, 50%, 80%);
    --highlight-error-bg: hsl(0, 60%, 90%);
    --highlight-notice-bg: hsl(55, 80%, 80%);
    --highlight-info-bg: hsl(200, 60%, 90%);

    /* colors */
    --body-bg: var(--solarized-base4);
    --border-color: var(--solarized-base04);
    --text-color-light: var(--solarized-base02);
    --text-color: var(--solarized-base03);
    --text-color-dark: var(--solarized-base04);
    --link-color: var(--solarized-base04);
    --link-hover-color: var(--solarized-base02);
    --card-bg: hsla(0, 0%, 100%, 60%);
    --panel-bg: hsla(0, 0%, 100%, 60%);
    --overlay-bg: hsla(0, 0%, 0%, 60%);
    --lighter-overlay-bg: hsla(0, 0%, 0%, 30%);

    /* borders */
    --border-width: var(--tiny);
    --border-color: currentColor;
    --border-style: solid;
    --border: var(--border-width) --border-color --border-style;

    /* shadows */
    --base-card-shadow: 0 var(--xsmall) var(--xsmall) var(--negative-xsmall)
        var(--overlay-bg);
    --base-panel-shadow: 0 var(--xsmall) var(--xsmall) var(--negative-xsmall)
        var(--overlay-bg);
    --base-text-shadow: 0 var(--xsmall) var(--xsmall) var(--negative-xsmall)
        var(--overlay-bg);
    --base-button-shadow: 0 var(--xsmall) var(--xsmall) var(--negative-xsmall)
        var(--overlay-bg);
    --form-box-shadow: inset 0 var(--border-width) var(--tiny) var(--overlay-bg);
    --form-box-shadow-focus: var(--form-box-shadow),
        0 0 (--xxsmall) var(--brand-primary-dark);

    /* font-weight */
    --font-weight--thin: 100;
    --font-weight--extra-light: 200;
    --font-weight--light: 300;
    --font-weight--normal: 400;
    --font-weight--medium: 500;
    --font-weight--semi-bold: 600;
    --font-weight--bold: 700;
    --font-weight--extra-bold: 800;
    --font-weight--black: 900;

    /* base configuration */
    --font-size-base: var(--ExtraSmallRoot);
    --font-base-weight: var(--font-weight--normal);
    --font-light-weight: var(--font-weight--light);
    --font-bold-weight: var(--font-weight--bold);
    --font-base: "Fira Go";
    --font-stack-base: "Fira Go", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-head: "Fira Sans";
    --font-stack-head: "Fira Sans", -apple-system, BlinkMacSystemFont,
        "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-mono: "JetBrains Mono";
    --font-stack-mono: "JetBrains Mono", SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --font-stack-quote: Cochin, Georgia, "Times New Roman", serif;
    --border-radius: var(--xsmall);

    /* headings */
    --font-size-h1: var(--xxlarge);
    --font-size-h2: var(--xlarge);
    --font-size-h3: var(--xlarge);
    --font-size-h4: var(--large);
    --font-size-h5: var(--large);
    --font-size-h6: var(--normal);
    --font-weight-h1: var(--font-bold-weight);
    --font-weight-h2: var(--font-bold-weight);
    --font-weight-h3: var(--font-base-weight);
    --font-weight-h4: var(--font-bold-weight);
    --font-weight-h5: var(--font-base-weight);
    --font-weight-h6: var(--font-base-weight);

    /* buttons general */
    --btn-font-size: var(--normal);
    --btn-icon-size: var(--normal);

    /* button default */
    --btn-default-top-bg: var(--body-bg);
    --btn-default-bottom-bg: var(--gray-light);
    --btn-default-hover-bg: var(--panel-bg);
    --btn-default-text-color: var(--text-color);
    --btn-default-hover-text-color: var(--brand-primary);
    --btn-default-border-color: var(--border-color);
    --btn-default-hover-border-color: var(--brand-primary);

    /* button primary */
    --btn-primary-top-bg: var(--brand-primary-light);
    --btn-primary-bottom-bg: var(--brand-primary);
    --btn-primary-hover-bg: var(--brand-primary);
    --btn-primary-text-color: var(--panel-bg);
    --btn-primary-hover-text-color: var(--btn-primary-text-color);
    --btn-primary-border-color: transparent;
    --btn-primary-hover-border-color: transparent;

    /* button secondary */
    --btn-secondary-top-bg: var(--brand-secondary);
    --btn-secondary-bottom-bg: var(--brand-secondary-dark);
    --btn-secondary-hover-bg: var(--brand-secondary-dark);
    --btn-secondary-text-color: var(--panel-bg);
    --btn-secondary-hover-text-color: var(--btn-secondary-text-color);
    --btn-secondary-border-color: transparent;
    --btn-secondary-hover-border-color: transparent;

    /* button ghost */
    --btn-ghost-top-bg: transparent;
    --btn-ghost-bottom-bg: transparent;
    --btn-ghost-hover-bg: transparent;
    --btn-ghost-text-color: var(--gray-extra-light);
    --btn-ghost-hover-text-color: var(--gray);
    --btn-ghost-border-color: var(--gray-extra-light);
    --btn-ghost-hover-border-color: var(--gray);

    /* panels */
    --panel-header-bg: var(--gray-light);
    --panel-header-font-size: var(--small);
    --panel-header-color: var(--text-color);
    --panel-border: var(--border-color);

    /* cards */
    --card-header-bg: var(--gray-light);
    --card-header-font-size: var(--large);
    --card-header-color: var(--text-color);
    --card-border: var(--border-color);

    /* labels */
    --label-font-size: var(--small);
    --label-color: var(--text-color);

    /* inputs */
    --input-font-size: var(--normal);
    --input-bg: var(--gray-light);
    --input-color: var(--brand-secondary);
    --input-placeholder-color: var(text-color-light);
    --input-border: var(--border-color);
    --input-focus-bg: var(--panel-bg);
    --input-focus-border: var(--brand-primary);
    --input-focus-color: var(--brand-secondary);
    --input-error-bg: var(--highlight-error-bg);
    --input-error-border: var(--highlight-error);
    --input-error-color: var(--highlight-error);
    --input-success-bg: var(--panel-bg);
    --input-success-border: var(--highlight-success);
    --input-success-color: var(--brand-secondary-dark);

    /* tables */
    --panel-table-header-bg: var(--brand-secondary-dark);
    --panel-table-header-color: var(--panel-bg);
    --table-row-bg: var(--panel-bg);
    --table-row-color: var(--brand-secondary-light);
    --table-row-highlight-bg: var(--brand-secondary);
    --table-header-bg: var(--brand-secondary);
    --table-header-color: var(--panel-bg);

    /* badges */
    --badge-discount-bg: var(--highlight-error);
    --badge-discount-color: var(--body-bg);
    --badge-newcomer-bg: var(--highlight-notice);
    --badge-newcomer-color: var(--body-bg);
    --badge-recommendation-bg: var(--highlight-success);
    --badge-recommendation-color: var(--body-bg);
    --badge-download-bg: var(--highlight-info);
    --badge-download-color: var(--body-bg);

    /* focus */
    --focus-outline-width: var(--xxsmall);
    --focus-outline-offset: var(--tiny);
    --focus-outline: var(--focus-outline-width) solid var(--brand-primary);

    /* Animations */
    --duration: 250ms;
    --timing: ease-in-out;
}
