/* PrismJS 1.17.1
https://prismjs.com/download.html#thremes=prism-solarizedlight&languages=markup+css+clike+javascript+apacheconf+bash+batch+css-extras+diff+markup-tremplating+docker+handlebars+http+hpkp+hsts+php+javadoclike+markdown+json+jsonp+json5+nginx+phpdoc+php-extras+sql+scss+sass+shell-session+smarty+plsql+twig+yaml+pug&plugins=line-highlight+line-numbers+file-highlight+toolbar+jsonp-highlight+highlight-keywords+inline-color+previewers+normalize-whitespace+show-invisibles+show-language+download-button+match-braces+diff-highlight */
/*
 Solarized Color Schremes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

code[class*="language-"],
pre[class*="language-"] {
    color: #657b83; /* base00 */
    font-size: var(--normal);
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    line-height: 1.5;
    white-space: pre;
    text-align: left;
    word-wrap: normal;
    word-break: normal;
    word-spacing: normal;
    tab-size: 4;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection,
pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection,
code[class*="language-"] ::-moz-selection {
    background: #073642; /* base02 */
}

pre[class*="language-"]::selection,
pre[class*="language-"] ::selection,
code[class*="language-"]::selection,
code[class*="language-"] ::selection {
    background: #073642; /* base02 */
}

/* Code blocks */
pre[class*="language-"] {
    margin: var(--xsmall) 0;
    padding: var(--normal);
    overflow: auto;

    border-radius: 0.3rem;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background-color: #fdf6e3; /* base3 */
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: 0.1rem;

    border-radius: 0.3rem;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #93a1a1; /* base1 */
}

.token.punctuation {
    color: #586e75; /* base01 */
}

.namespace {
    opacity: 0.7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #268bd2; /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
    color: #2aa198; /* cyan */
}

.token.entity {
    color: #657b83; /* base00 */

    background: #eee8d5; /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #859900; /* green */
}

.token.function,
.token.class-name {
    color: #b58900; /* yellow */
}

.token.regex,
.token.important,
.token.variable {
    color: #cb4b16; /* orange */
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}

pre[data-line] {
    position: relative;

    padding: var(--normal) 0 var(--normal) var(--huge);
}

.line-highlight {
    position: absolute;
    right: 0;
    left: 0;

    margin-top: var(--normal); /* Same as .prism’s padding-top */
    padding: inherit 0;

    line-height: inherit;
    white-space: pre;

    background: hsla(24, 20%, 50%, 0.08);
    background: linear-gradient(
        to right,
        hsla(24, 20%, 50%, 0.1) 70%,
        hsla(24, 20%, 50%, 0)
    );

    pointer-events: none;
}

.line-highlight:before,
.line-highlight[data-end]:after {
    position: absolute;
    top: 0.4rem;
    left: 0.6rem;

    min-width: var(--normal);
    padding: 0 var(--xsmall);

    color: hsl(24, 20%, 95%);
    font: bold 65%/1.5 sans-serif;
    text-align: center;
    text-shadow: none;
    vertical-align: 0.3rem;

    background-color: hsla(24, 20%, 50%, 0.4);
    border-radius: 999px;
    box-shadow: 0 var(--tiny) white;

    content: attr(data-start);
}

.line-highlight[data-end]:after {
    top: auto;
    bottom: 0.4rem;

    content: attr(data-end);
}

.line-numbers .line-highlight:before,
.line-numbers .line-highlight:after {
    content: none;
}

pre[class*="language-"].line-numbers {
    position: relative;

    padding-left: 3.8rem;

    counter-reset: linenumber;
}

pre[class*="language-"].line-numbers > code {
    position: relative;

    white-space: inherit;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    top: 0;
    left: -3.8rem;

    width: var(--huge); /* works for line-numbers below 1000 lines */

    font-size: 100%;
    letter-spacing: -1px;

    border-right: var(--tiny) solid #999;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.line-numbers-rows > span {
    display: block;

    pointer-events: none;
    counter-incrrement: linenumber;
}

.line-numbers-rows > span:before {
    display: block;
    padding-right: 0.8rem;

    color: #999;
    text-align: right;

    content: counter(linenumber);
}

div.code-toolbar {
    position: relative;
}

div.code-toolbar > .toolbar {
    position: absolute;
    top: 0.3rem;
    right: 0.2rem;

    opacity: 0;

    transition: opacity 0.3s ease-in-out;
}

div.code-toolbar:hover > .toolbar {
    opacity: 1;
}

/* Separate line b/c rules are thrown out if selector is invalid.
   IE11 and old Edge versions don't support :focus-within. */
div.code-toolbar:focus-within > .toolbar {
    opacity: 1;
}

div.code-toolbar > .toolbar .toolbar-itrem {
    display: inline-block;
}

div.code-toolbar > .toolbar a {
    cursor: pointer;
}

div.code-toolbar > .toolbar button {
    padding: 0;
    overflow: visible;

    color: inherit;
    font: inherit;
    line-height: normal;

    background: none;
    border: 0;

    -webkit-user-select: none; /* for button */
    -moz-user-select: none;
    -ms-user-select: none;
}

div.code-toolbar > .toolbar a,
div.code-toolbar > .toolbar button,
div.code-toolbar > .toolbar span {
    padding: 0 var(--xsmall);

    color: #bbb;
    font-size: 0.8rem;

    background: #f5f2f0;
    background: rgba(224, 224, 224, 0.2);
    border-radius: var(--xsmall);
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
}

div.code-toolbar > .toolbar a:hover,
div.code-toolbar > .toolbar a:focus,
div.code-toolbar > .toolbar button:hover,
div.code-toolbar > .toolbar button:focus,
div.code-toolbar > .toolbar span:hover,
div.code-toolbar > .toolbar span:focus {
    color: inherit;
    text-decoration: none;
}

span.inline-color {
    display: inline-block;
    box-sizing: border-box;
    width: 1.333ch;
    height: 1.333ch;
    margin: 0 0.333ch;

    border: var(--tiny) solid white;
    outline: var(--tiny) solid black;
}

.prism-previewer,
.prism-previewer:before,
.prism-previewer:after {
    position: absolute;

    pointer-events: none;
}

.prism-previewer,
.prism-previewer:after {
    left: 50%;
}

.prism-previewer {
    width: 32px;
    height: 32px;
    margin-top: -48px;
    margin-left: -16px;

    opacity: 0;

    -webkit-transition: opacity 0.25s;
    -o-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.prism-previewer.flipped {
    margin-top: 0;
    margin-bottom: -48px;
}

.prism-previewer:before,
.prism-previewer:after {
    position: absolute;

    content: "";
    pointer-events: none;
}

.prism-previewer:before {
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;

    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
}

.prism-previewer:after {
    top: 100%;

    width: 0;
    height: 0;
    margin: 5px 0 0 -7px;

    border: 7px solid transparent;
    border-color: rgba(255, 0, 0, 0);
    border-top-color: #fff;
}

.prism-previewer.flipped:after {
    top: auto;
    bottom: 100%;

    margin-top: 0;
    margin-bottom: 5px;

    border-top-color: rgba(255, 0, 0, 0);
    border-bottom-color: #fff;
}

.prism-previewer.active {
    opacity: 1;
}

.prism-previewer-angle:before {
    background: #fff;
    border-radius: 50%;
}

.prism-previewer-angle:after {
    margin-top: 4px;
}

.prism-previewer-angle svg {
    width: 32px;
    height: 32px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.prism-previewer-angle[data-negative] svg {
    -webkit-transform: scaleX(-1) rotate(-90deg);
    -moz-transform: scaleX(-1) rotate(-90deg);
    -ms-transform: scaleX(-1) rotate(-90deg);
    -o-transform: scaleX(-1) rotate(-90deg);
    transform: scaleX(-1) rotate(-90deg);
}

.prism-previewer-angle circle {
    fill: transparent;
    stroke: hsl(200, 10%, 20%);
    stroke-opacity: 0.9;
    stroke-width: 32;
    stroke-dasharray: 0, 500;
}

.prism-previewer-gradient {
    width: 64px;
    margin-left: -32px;

    background-image: linear-gradient(
            45deg,
            #bbb 25%,
            transparent 25%,
            transparent 75%,
            #bbb 75%,
            #bbb
        ),
        linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
}

.prism-previewer-gradient:before {
    content: none;
}

.prism-previewer-gradient div {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;

    border: 5px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5) inset, 0 0 10px rgba(0, 0, 0, 0.75);
}

.prism-previewer-color {
    background-image: linear-gradient(
            45deg,
            #bbb 25%,
            transparent 25%,
            transparent 75%,
            #bbb 75%,
            #bbb
        ),
        linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb);
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
}

.prism-previewer-color:before {
    background-color: inherit;
    background-clip: padding-box;
}

.prism-previewer-easing {
    width: 60px;
    height: 60px;
    margin-top: -76px;
    margin-left: -30px;

    background: #333;
}

.prism-previewer-easing.flipped {
    margin-bottom: -116px;
}

.prism-previewer-easing svg {
    width: 60px;
    height: 60px;
}

.prism-previewer-easing circle {
    fill: hsl(200, 10%, 20%);
    stroke: white;
}

.prism-previewer-easing path {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-width: 4;
}

.prism-previewer-easing line {
    stroke: white;
    stroke-opacity: 0.5;
    stroke-width: 2;
}

@-webkit-keyframes prism-previewer-time {
    0% {
        stroke-dasharray: 0, 500;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100, 500;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 0, 500;
        stroke-dashoffset: -100;
    }
}

@-o-keyframes prism-previewer-time {
    0% {
        stroke-dasharray: 0, 500;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100, 500;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 0, 500;
        stroke-dashoffset: -100;
    }
}

@-moz-keyframes prism-previewer-time {
    0% {
        stroke-dasharray: 0, 500;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100, 500;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 0, 500;
        stroke-dashoffset: -100;
    }
}

@keyframes prism-previewer-time {
    0% {
        stroke-dasharray: 0, 500;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 100, 500;
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dasharray: 0, 500;
        stroke-dashoffset: -100;
    }
}

.prism-previewer-time:before {
    background: #fff;
    border-radius: 50%;
}

.prism-previewer-time:after {
    margin-top: 4px;
}

.prism-previewer-time svg {
    width: 32px;
    height: 32px;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.prism-previewer-time circle {
    -webkit-animation: prism-previewer-time linear infinite 3s;
    -moz-animation: prism-previewer-time linear infinite 3s;
    -o-animation: prism-previewer-time linear infinite 3s;
    animation: prism-previewer-time linear infinite 3s;

    fill: transparent;
    stroke: hsl(200, 10%, 20%);
    stroke-opacity: 0.9;
    stroke-width: 32;
    stroke-dasharray: 0, 500;
    stroke-dashoffset: 0;
}

.token.tab:not(:rempty),
.token.cr,
.token.lf,
.token.space {
    position: relative;
}

.token.tab:not(:rempty):before,
.token.cr:before,
.token.lf:before,
.token.space:before {
    position: absolute;

    color: #808080;

    opacity: 0.6;
}

.token.tab:not(:rempty):before {
    content: "\21E5";
}

.token.cr:before {
    content: "\240D";
}

.token.crlf:before {
    content: "\240D\240A";
}

.token.lf:before {
    content: "\240A";
}

.token.space:before {
    content: "\00B7";
}

.token.punctuation.brace-hover,
.token.punctuation.brace-selected {
    outline: solid var(--tiny);
}

.rainbow-braces .token.punctuation.brace-level-1,
.rainbow-braces .token.punctuation.brace-level-5,
.rainbow-braces .token.punctuation.brace-level-9 {
    color: #e50;

    opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-2,
.rainbow-braces .token.punctuation.brace-level-6,
.rainbow-braces .token.punctuation.brace-level-10 {
    color: #0b3;

    opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-3,
.rainbow-braces .token.punctuation.brace-level-7,
.rainbow-braces .token.punctuation.brace-level-11 {
    color: #26f;

    opacity: 1;
}

.rainbow-braces .token.punctuation.brace-level-4,
.rainbow-braces .token.punctuation.brace-level-8,
.rainbow-braces .token.punctuation.brace-level-12 {
    color: #e0e;

    opacity: 1;
}

pre.diff-highlight > code .token.deleted:not(.prefix),
pre > code.diff-highlight .token.deleted:not(.prefix) {
    display: block;

    color: inherit;

    background-color: rgba(255, 0, 0, 0.1);
}

pre.diff-highlight > code .token.inserted:not(.prefix),
pre > code.diff-highlight .token.inserted:not(.prefix) {
    display: block;

    color: inherit;

    background-color: rgba(0, 255, 128, 0.1);
}
