<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us" class="no-js">
    <head>
        {% block htmlhead %}
            {% include 'partials/html-header.html.twig' %}
        {% endblock htmlhead %}
    </head>

    <body class="{% block bodyclass %}is-page{% endblock %}">
        {% include 'partials/site-header.html.twig' %}

        <main id="content" role="main" class="content-wrapper">
            {% block content %}
                <h1 class="page-title">{{ page.title }}</h1>
                {{ page.content }}
            {% endblock %}
        </main>

        {% include 'partials/site-footer.html.twig' %}
    </body>
</html>
