@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

.mainhead {
    position: fixed;
    top: var(--negative-normal);
    right: 0;
    left: 0;
    z-index: 3;

    width: 100%;
    height: calc(var(--huge) + var(--xxlarge));
    padding-top: var(--normal);

    color: var(--brand-primary);

    transition: box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out,
        background-color 0.5s ease-in-out, color 0.5s ease-in-out,
        height 0.5s ease-in-out, border-radius 0.5s ease-in-out,
        width 0.5s ease-in-out, left 0.5s ease-in-out, right 0.5s ease-in-out,
        top 0s linear;

    & .content-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: calc(var(--mediamax) + var(--xlarge) + var(--xlarge));
        height: 100%;
        margin: 0 auto;

        color: inherit;

        background-color: var(--brand-secondary);

        border-radius: 0;
        box-shadow: 0 var(--normal) var(--xxlarge) var(--overlay-bg);

        transition: box-shadow 0.5s ease-in-out, opacity 0.5s ease-in-out,
            background-color 0.5s ease-in-out, color 0.5s ease-in-out,
            height 0.5s ease-in-out, border-radius 0.5s ease-in-out,
            width 0.5s ease-in-out, left 0.5s ease-in-out,
            right 0.5s ease-in-out, top 0s linear;
    }

    &.fade-out:not(.nav-open) {
        height: calc(2 * var(--xxlarge));
        padding-left: 0;

        & .content-wrapper {
            background-color: var(--brand-secondary-75);

            & .mainhead-slogan {
                display: none;
            }
        }
    }

    &.nav-open {
        color: var(--brand-primary);
    }

    @media (--MediaLargeWidth) {
        & .content-wrapper {
            right: var(--normal);
            left: var(--normal);

            width: calc(100% - var(--xxlarge));

            border-radius: 0 0 var(--normal) var(--normal);
        }
    }

    @media (--MediaHugeWidth) {
        & .content-wrapper {
            right: auto;
            left: auto;
        }
    }
}
