@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

.logo {
    z-index: 2;

    display: flex;
    justify-content: space-between;
    height: 100%;

    font-family: var(--font-stack-head);
}

.logo-inner {
    height: var(--normal);

    line-height: var(--normal);
}

.logo-link {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: calc(6 * var(--huge));
    height: 100%;
    padding: 0 0 0 var(--normal);

    padding-left: var(--normal);

    color: inherit;
    font-weight: 100;
    text-decoration: none;

    &:hover {
        color: var(--brand-primary-light);
        text-decoration: none;
        text-shadow: 0 0 var(--xsmall) var(--black);

        background-image: linear-gradient(
            90deg,
            var(--brand-secondary-dark),
            transparent 80%
        );

        @media (--MediaLargeWidth) {
            border-bottom-left-radius: var(--normal);
        }
    }

    @media (--MediaLargeWidth) {
        padding-left: var(--xxlarge);
    }
}

.logo-surname {
    margin-left: var(--negative-xxsmall);

    font-weight: normal;
}

.logo-dot {
    margin-left: var(--negative-xxsmall);
}

.logo-slogan {
    position: relative;

    display: none;

    height: var(--normal);

    font-weight: 100;
    font-size: var(--small);
    line-height: var(--normal);

    @media (--MediaMediumWidth) {
        display: block;
    }
}

.mainhead {
    &.fade-out {
        & .logo-slogan {
            display: none;
        }
    }
}
