.mainnav {
    position: relative;

    width: calc(var(--huge) + var(--normal));
    height: 100%;
    margin-left: auto;

    color: inherit;
}

.mainnav-toggle {
    position: relative;
    z-index: 2;

    display: block;
    width: calc(var(--huge) + var(--normal));
    height: calc(var(--huge) + var(--normal));
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    padding-right: var(--normal);

    color: inherit;
    font-size: var(--huge);
    line-height: calc(var(--huge) + var(--xsmall));
    text-align: center;

    border-radius: 0;

    transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out,
        line-height 0.5s ease-in-out, width 0.5s ease-in-out,
        margin-left 0.5s ease-in-out, margin-right 0.5s ease-in-out;

    @media (--MediaLargeWidth) {
        padding-right: var(--xxlarge);

        border-radius: 0 0 var(--normal) 0;
    }

    &:hover {
        color: var(--brand-primary-light);
        text-decoration: none;
        text-shadow: 0 0 var(--xsmall) var(--black);

        background-image: linear-gradient(
            -90deg,
            var(--brand-secondary-dark),
            transparent 80%
        );
        cursor: pointer;
    }
}

.mainnav-inner {
    position: fixed;
    top: 0;
    right: 0;
    bottom: var(--negative-normal);
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: calc(2 * var(--xxlarge));

    padding-left: 0;
    overflow: hidden;

    color: transparent;

    list-style: none;
    background-color: transparent;
    transform: translateY(-100vh);

    transition: background-color 0.5s ease-in-out, transform 0 ease-in-out,
        color 0.5s ease-in-out;
}

.mainhead {
    &.fade-out:not(.nav-open) {
        & .mainnav-toggle {
            width: var(--huge);
            height: var(--huge);

            font-size: var(--xlarge);
            line-height: var(--huge);
        }
    }
}

.mainnav-item {
    padding: 0;
}

.mainnav-link {
    display: block;
    padding: var(--xsmall);

    color: var(--brand-primary);

    text-shadow: 0 var(--xxsmall) var(--xsmall) var(--brand-secondary-dark);

    opacity: 0;

    transition: opacity 0.5s ease-in-out;

    &:hover {
        color: var(--brand-primary-dark);
    }
}

.mainnav-toggle-input {
    display: none;

    &:checked ~ .mainnav-inner {
        color: var(--brand-primary);

        background-color: var(--brand-secondary-75);
        transform: translateY(0);

        & .mainnav-link {
            opacity: 1;
        }
    }
}
