.mainfoot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: var(--huge);
    margin: var(--xxlarge) 0 var(--normal) 0;
    padding: var(--normal) var(--xxlarge) 0 var(--xxlarge);

    border-top: var(--tiny) dotted black;

    @media screen and (min-width: 768px) {
        flex-direction: row;
        margin: var(--xxlarge) var(--xxlarge) var(--normal) var(--xxlarge);

        border-radius: var(--normal);
    }
}

.social {
    display: flex;
}

.social-items {
    display: flex;
    padding: 0;

    list-style: none;
}

.social-item {
    width: var(--normal);
    height: var(--normal);
    margin-right: var(--small);
    padding: 0;

    color: var(--brand-secondary-light);

    &:last-of-type {
        margin-right: 0;
    }
}

.social-link {
    color: var(--brand-secondary-light);
    text-decoration: none;

    transition: color 1s ease-in-out;

    &:hover {
        color: var(--brand-secondary-dark);
    }
}

.social-icon {
    width: var(--xxlarge);
    height: var(--xxlarge);
    overflow: hidden;

    border-radius: var(--xsmall);
}
