@custom-media --MediaSmallWidth (min-width: 320px);
@custom-media --MediaMediumWidth (min-width: 480px);
@custom-media --MediaLargeWidth (min-width: 768px);
@custom-media --MediaExtraLargeWidth (min-width: 1024px);
@custom-media --MediaHugeWidth (min-width: 1680px);

#content {
    min-height: calc(100vh - var(--huge) - var(--huge));

    padding-top: calc(var(--huge) + var(--xxlarge));
}

.content-wrapper {
    width: calc(100% - var(--xxlarge));
    max-width: var(--mediamax);
    margin-right: auto;
    margin-left: auto;

    @media (--MediaLargeWidth) {
        width: calc(100% - var(--xxlarge) - var(--xxlarge));
    }
}
