.section {
    padding-top: var(--xxlarge);
    padding-bottom: var(--xxlarge);

    @media screen and (min-width: 768px) {
        padding-top: var(--huge);
    }

    #content {
        padding: var(--xxlarge);

        background-color: #fff;
        border-radius: var(--normal);
        box-shadow: 0 var(--normal) var(--xxlarge) var(--overlay-bg);
    }
}
