.dark-mode-toggle {
    position: fixed;
    right: var(--normal);
    bottom: var(--normal);
    z-index: 100;

    width: var(--xxlarge);
    height: var(--xxlarge);
    padding: var(--xxsmall);

    color: inherit;

    background: var(--body-bg);
    border: var(--tiny) solid currentColor;
    border-radius: var(--xxsmall);
    cursor: pointer;

    &:focus {
        color: var(--brand-primary);

        outline: none;
    }

    & svg {
        object-fit: cover;
    }
}

:root {
    &.darkmode {
        /* test */
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* test */

        &.darkmode {
            /* test */
        }
    }
}
