{% extends '_default/page.html.twig' %}
{% block bodyclass %}
    {{ parent() }}
    is-page is-work
{% endblock %}
{% block content %}
    {% for work in site.data.work_samples %}
        <a href="{{ work.url }}">
            <img loading="lazy" src="/images/clients/{{ work.slug }}.svg" alt="{{ work.name }}" title="{{ work.name }}">
        </a>
    {% endfor %}
{% endblock %}
