{% extends '_default/page.html.twig' %}
{% block bodyclass %}
    {{ parent() }}
    is-page is-home
{% endblock %}
{% block content %}
    <article class="hero">
        <h1>
            <strong>{{ page.headline }}</strong>
            <span>{{ page.subheading }}</span>
            <mark>{{ page.slogan }}</mark>
        </h1>
        <noscript>
            <img loading="lazy" src="/images/home/hero.jpg" alt="Mann hält Computermaus" class="banner">
        </noscript>
        <img data-src="/images/home/hero.jpg" alt="Laptop mit offenem Code-Editor" class="banner lazyload">
    </article>
    <article class="intro">
        <header class="sr-only">
            <h2>Intro</h2>
        </header>
        <aside>
            <noscript>
                <img loading="lazy" src="/images/home/intro.jpg" alt="Mann hält Computermaus">
            </noscript>
            <img class="lazyload" data-src="/images/home/intro.jpg" alt="Mann hält Computermaus">
        </aside>
        <div>
            {{ page.content }}
        </div>
    </article>

    <script>
        window.addEventListener("load", function () {
            new Glider(document.querySelector(".glider"), {
                slidesToShow: 1,
                slidesToScroll: 1,
                draggable: !0,
                scrollLock: !0,
                dots: "#resp-dots",
                arrows: {
                    prev: ".glider-prev",
                    next: ".glider-next"
                },
                responsive: [
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 2,
                            duration: .25
                        }
                    }, {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 3,
                            duration: .25
                        }
                    }, {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            duration: .25
                        }
                    }, {
                        breakpoint: 1280,
                        settings: {
                            slidesToShow: 5,
                            duration: .25
                        }
                    }
                ]
            });
        });
    </script>

    <article class="clients slider-clients-wrapper">
        <header>
            <h2>Kunden</h2>
        </header>
        <div class="clients-slider glider draggable">
            {% for client in site.data.clients %}
                <div class="slide glider-slide">
                    <a href="{{ client.url }}" target="_blank" class="glider-link" alt="{{ client.name }}" title="{{ client.name }} ">
                        <img loading="lazy" class="client" src="{{ client.slug }}" alt="{{ client.name }}" title="{{ client.name }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <button class="glider-prev" title="Previous slider items">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 192 512"><path d="M192 127.338v257.324c0 17.818-21.543 26.741-34.142 14.142L29.196 270.142c-7.81-7.81-7.81-20.474 0-28.284l128.662-128.662c12.599-12.6 34.142-3.676 34.142 14.142z"/></svg>
            <i class="arrow-left-icon"></i>
        </button>
        <button class="glider-next" title="Next slider items">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 192 512"><path d="M0 384.662V127.338c0-17.818 21.543-26.741 34.142-14.142l128.662 128.662c7.81 7.81 7.81 20.474 0 28.284L34.142 398.804C21.543 411.404 0 402.48 0 384.662z"/></svg>
        </button>
        <div id="resp-dots"></div>
    </article>
    <article class="projects">
        <header class="sr-only">
            <h2>Projekte</h2>
        </header>
        <aside class="projects-side">
            <a href="/projekte/">Projekte</a>
            <noscript>
                <img loading="lazy" src="/images/home/projects.jpg" alt="Bildschirm Foto von JavaScript Code">
            </noscript>
            <img data-src="/images/home/projects.jpg" class="lazyload" alt="Bildschirm Foto von JavaScript Code">
        </aside>
        <ul class="projects-listing">
            {% for item in site.pages|filterBySection('projekte')|filterBy('exclude', false)|sortByWeight %}
                <li class="projects-item">
                    <a class="projects-project" href="{{ url(item) }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>
    <article class="blog">
        <header class="sr-only">
            <h2>Blog</h2>
        </header>
        <aside class="blog-side">
            <a class"blog-link" href="/blog/">Blog</a>
            <noscript>
                <img loading="lazy" src="/images/home/blog.jpg?g-6be1adb8" alt="Laptop mit offenem Notitzblock" class="blog-image">
            </noscript>
            <img data-src="/images/home/blog.jpg?g-6be1adb8" class="blog-image lazyload" alt="Laptop mit offenem Notitzblock">
        </aside>
        <ul class="blog-listing">
            {% for item in site.pages|filterBySection('blog')|filterBy('exclude', false)|sortByWeight %}
                <li class="blog-item">
                    <a class="blog-article" href="{{ url(item) }}">{{ item.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
